* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 20px;
}

// for debugging purposes
#app {
  outline: 1px solid #fff;
}

/* Loading screen */
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-app;
  font-weight: normal;
  color: $color-app-font;
  background: $color-app-background;
  line-height: 1;

  .splashscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: url('../img/splash.jpg') no-repeat center center;
    background-size: cover;
    display: none;

    &__logo {
      height: 50%;
      top: 25%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.loading {
    .splashscreen {
      display: block;
    }
  }
}

#maincontainer {
  height: 100%;
}

/* Display & Visibility Helpers */
.display--none {
  display: none !important;
}

.visibility--hidden {
  visibility: hidden !important;
}

object {
  position: absolute;
}

video {
  z-index: 100;
}

strong {
  font-weight: 500;
}

@media (max-height: 1080px) {
  @-ms-viewport {
    height: 1080px;
  }
}

/* Loading screen */
#static-loading-screen {
  position: absolute;
  margin-top: 100px;
  z-index: 100;
  width: 100%;
}

#static-loading-screen p {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
  padding: 0 50px;
}

/* List widgets */
.horizontallist,
.verticallist {
  position: relative;
}

.horizontallist .listitem {
  display: inline-block;
}

/* nested lists - use #IDs instead for more complex layouts */
.verticallist .horizontallist .listitem {
  display: inline-block;
}

.verticallist .listitem {
  display: block;
  position: relative;
}

/* nested lists - use #IDs instead for more complex layouts */
.horizontallist .verticallist .listitem {
  display: block;
}

/* Horizontal carousel widgets */

/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.horizontallistmask {
  overflow: hidden;
  width: 100%;
}

/* ensure nested carousels have correct formatting, you may need to target IDs in complex layouts */
.horizontallistmask .horizontallist .listitem {
  display: inline-block;
}

.horizontalcarousel {
  width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}

.carouselmask {
  overflow: hidden;
}

.carouselwidgetstrip {
  position: relative;
  white-space: nowrap;
}

.carouselwidgetstrip.vertical > .carouselItem {
  display: block;
}

.carouselwidgetstrip.horizontal > .carouselItem {
  display: inline-block;
}

#carouselComponent {
  position: relative;
}

#carouselComponent > .carouselmask {
  margin-left: auto;
  margin-right: auto;
}

#progressBar {
  margin-top: 10%;
  width: 50%;
  margin-left: 25%;
  min-height: 10px;
  background: #070;
}

#progressBar_left {
  min-height: 10px;
  background: #700;
}

#progressBar_inner {
  width: 10px;
  min-height: 10px;
  background: #777;
  position: relative;
}
