<script src="https://unpkg.com/tal-jsx@0.5.1/dist/global.min.js"></script>
<script src="https://cdn.rawgit.com/abdmob/x2js/master/xml2json.js"></script>
<script type='text/javascript' src='tal/static/script/lib/require.js?v={{{ version }}}'></script>
<link rel='stylesheet' href='static/style/base.css?v={{{ version }}}' />