.horizontalcarousel {
  width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}

.carouselwidgetstrip {
  position: relative;
  white-space: nowrap;

  &.vertical {
    > .carouselItem {
      display: block;
    }
  }

  > .button {
    margin: 0;
  }

  &.horizontal {
    > .carouselItem {
      display: inline-block;
    }
  }
}
