.horizontallist,
.verticallist {
  position: relative;
}

// Horizontal carousel widgets

/* nested lists - use #IDs instead for more complex layouts */
.horizontallist .verticallist .listitem {
  display: block;
}

/* Horizontal carousel widgets */

/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.horizontallistmask {
  overflow: hidden;
  width: 100%;
}

/* ensure nested carousels have correct formatting, you may need to target IDs in complex layouts */
.horizontallistmask .horizontallist .listitem {
  display: inline-block;
}

.horizontalcarousel {
  width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}

/* nested lists - use #IDs instead for more complex layouts */
.verticallist .horizontallist .listitem {
  display: inline-block;
}

.verticallist .listitem {
  display: block;
  position: relative;
}
