#startscreen {
  background: rgb(211, 37, 40);
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    max-height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
